<div class="header">
  <div class="container">
     <ul class="nav">
      <li> <%= link_to "Welcome", root_path, class:"link" %></li>
      <li><%= link_to "Portfolio", portfolio_path, class:"link" %></li>
      <li><%= link_to "About ", about_path, class:"link" %></li>
      <li><a href="#bottom">Contact</a></li>
    </ul>
  </div>
</div>

<div class="img-grid-btn">
  <img src="https://lh3.googleusercontent.com/qq7VR4Pn__63-v8epApbXYy8LTj3z8CpmLTqS6CoXkI23gHv1kQubmdmtFi9lkmwif-C_w4zuZg1Xxvq1rOC86wvREAnTu75-uGlVRjLCMm45C7y-2MC8XyYYkzZRnqhpFE2oyPfYQ=w600-h315-p-k"/> <p>My name is Parisa and I am 34 years old. Since 2010, I have worked as civil engineer and I am interested to combine computer science into civil engineering to provide creative tools in construction industry. </p>
  </div>
<div class="main">


<div class="footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/parisa-shekari-05ab8442/" target = "_blank"><img src="https://lh3.googleusercontent.com/mCf25Q6jgW6rDE269ipNGOq08tTA575uyfSclJsVGoZTytRueSSDZrvtrL2pWkQFwK3UZ7jhFo2Zkbqe7ULmJ7wngz6qAwXQxL72zJyyD1qisL7WjdsBBasDogF9jQveipNXMmA9VA=s256-p-k" /></a>
    <a id="bottom"><img src="https://lh3.googleusercontent.com/npJM4szIetyjVsRGJ-WtxN-0_qPnHmyactkmezo5gHFcBABvl-GKtRjVfqU4TkQJgY8EAKsOg5kJSJbRqdvFNGb8TAT8pKId5I9W3yOWXfrfOH8EVZb1Jc06kHSUprOCNjFvacu6Pg=s256-p-k" /><strong>parisa.shekari@gmail.com</strong></a>
  </div>
</div>