<div class="header">
  <div class="container">
     <ul class="nav">
      <li> <%= link_to "Welcome", root_path, class:"link" %></li>
      <li><%= link_to "Portfolio", portfolio_path, class:"link" %></li>
      <li> About </li>
      <li> Contact </li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="container">
  <img src="https://lh3.googleusercontent.com/Rmt_6VUZWdSopHjxZaknumawzvT-1uXfMYPlHOkLethipnNOY1MLUF33eYvflF74dxZHf1lVmwTveuVgBBe9-2IOS1-B4Ts-DigTNlggxa7LT2A8QDqJO1yC71hFKsB-w6lVzxqzOQ=w600-h315-p-k" />
  <br></br>
<div class="img-grid">
  <img src="https://lh3.googleusercontent.com/Vio-xmRboHk-IhHtsJshJcyefrjwdq_lmlE0dmZDxrLFXGgsffIPyUYB0rgalCUSwhF1vRWI-kWkVyL7icnjrtbZ3R2HpvlULPw44m3IAl3Ufo3mYwN20x8jOtcBMBeG3OrCLILXSw=w600-h315-p-k" /> </a>
 
  <img src="https://lh3.googleusercontent.com/PXOQKSTJWUwLi1sAi88uK3SuKMuQbL3U3mygKcZfghrASzZgDZyuNNNF19llqVbvlLv7Ctcx2v-1g7cDj2Gezk5R0vce0in0qfKwMWTCJZnw-C_hcZPGt3JuISbDZn9ZtA7vH_7qRA=w600-h315-p-k" /> </a>
</div>

<div class="description">
  
  <p><strong>Commercial Project</strong><br></br>I have been engaged in comprehensive design, engineering, procurement, construction and project management services for mass commercial projects.I analyze cost/benefit factors for various building systems to achieve maximum cost savings for our customers, without compromising quality.<a href="https://www.kayson-ir.com/divisions.aspx?topic=hous"> Learn more</a></p> 
  
  
  <p><strong>Railway Project</strong><br></br>The construction of railway systems is part of a irania nationally-coordinated plan to ease traffic congestion in major cities.I have been engaged in project management of the first phase of the project, which comprises a 6.8 km line with eight stations. The project was constructed in 5 years. To know more about this project: <a href="https://www.kayson-ir.com/project.aspx?topic=monorail&cat=rtrans"> Learn more</a> </p>
</div>

  
<div class="footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/parisa-shekari-05ab8442/" target = "_blank"><img src="https://lh3.googleusercontent.com/mCf25Q6jgW6rDE269ipNGOq08tTA575uyfSclJsVGoZTytRueSSDZrvtrL2pWkQFwK3UZ7jhFo2Zkbqe7ULmJ7wngz6qAwXQxL72zJyyD1qisL7WjdsBBasDogF9jQveipNXMmA9VA=s256-p-k" /></a>
    <a><img src="https://lh3.googleusercontent.com/npJM4szIetyjVsRGJ-WtxN-0_qPnHmyactkmezo5gHFcBABvl-GKtRjVfqU4TkQJgY8EAKsOg5kJSJbRqdvFNGb8TAT8pKId5I9W3yOWXfrfOH8EVZb1Jc06kHSUprOCNjFvacu6Pg=s256-p-k" /><strong>parisa.shekari@gmail.com</strong></a>
  </div>
</div>