<div class="header">
  <div class="container">
     <ul class="nav">
      <li> Welcome </li><% link_to 'portfolio'%>
      <li><%= link_to "Portfolio", portfolio_path, class:"link" %></li>
      <li> About </li>
      <li> Contact </li>
    </ul>
  </div>
</div>
<div class="main">
  <div class="container">
  <a href="https://lh3.googleusercontent.com/RXPnea00jY6lG_WIAcsMz56DHqATVb3kqnIZsBdf3Fi96Q2RLHxDYUGak7zqrzhuDUSJY7lda4HFkDuPYmx8ECP96NILyiz2BVWvJli-c8EmcBecZNfOYHAkPRfjOAf802Vw59sVfw=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/RXPnea00jY6lG_WIAcsMz56DHqATVb3kqnIZsBdf3Fi96Q2RLHxDYUGak7zqrzhuDUSJY7lda4HFkDuPYmx8ECP96NILyiz2BVWvJli-c8EmcBecZNfOYHAkPRfjOAf802Vw59sVfw=w600-h315-p-k" /> </a>
    <h4>My name is Parisa, an experienced civil engineer interested in computer science. I am currently in Sydney, Australia for my PhD in Civil engineering.<h4> 
    <a class ="btn-primary" href="./portfolio.html">View my Portfolio</a>  
   <br></br>
   <br></br>
   <br></br>
  </div>

<div class="footer">
  <div class="container">
    <a href="https://www.linkedin.com/in/parisa-shekari-05ab8442/" target = "_blank"><img src="https://lh3.googleusercontent.com/mCf25Q6jgW6rDE269ipNGOq08tTA575uyfSclJsVGoZTytRueSSDZrvtrL2pWkQFwK3UZ7jhFo2Zkbqe7ULmJ7wngz6qAwXQxL72zJyyD1qisL7WjdsBBasDogF9jQveipNXMmA9VA=s256-p-k" /></a>
    <a><img src="https://lh3.googleusercontent.com/npJM4szIetyjVsRGJ-WtxN-0_qPnHmyactkmezo5gHFcBABvl-GKtRjVfqU4TkQJgY8EAKsOg5kJSJbRqdvFNGb8TAT8pKId5I9W3yOWXfrfOH8EVZb1Jc06kHSUprOCNjFvacu6Pg=s256-p-k" /><strong>parisa.shekari@gmail.com</strong></a>
  </div>
</div>